<ion-header>
    <ion-toolbar color="primary" non-border>
        <ion-buttons slot="start">
            <ion-button href="passport/login">
                <ion-icon name="arrow-back-outline"></ion-icon>返回
            </ion-button>
        </ion-buttons>
        <!-- <ion-buttons slot="start">
                 <ion-back-button text="返回"></ion-back-button>
          </ion-buttons> -->
        <ion-title>找回密码</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        1、输入邮箱或者手机号>2、输入验证码>3、重置密码
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #forgotPasswordSlides (ionSlideDidChange)="onSlideDidChange($event)">
        <ion-slide>
            <form name="identifier" (ngSubmit)="onSubmitPhone(identifier)" class="full-width">
                <ion-list>
                    <ion-item>
                        <!-- ngModel-->
                        <ion-input required placeholder="请输入您的账号" name="account">
                        </ion-input>
                    </ion-item>
                </ion-list>

                <div class="ion-padding-horizontal">
                    <ion-button type="submit" expand="full" color="primary">下一步</ion-button>
                </div>
            </form>
        </ion-slide>
    </ion-slides>
</ion-content>