<ion-header class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>welcome</ion-title> -->
        <ion-buttons slot="end" [hidden]="!showSkip" (click)="onSkip()">
            <ion-button color="primary">跳过</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #slides pager="true" (ionSlideWillChange)="onSlideWillChange($event)" style="height: 100%">
        <ion-slide>
            <img src="./assets/img/splsh_one.png" alt="">
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/img/splsh_two.png" alt="">
        </ion-slide>
        <ion-slide>
            
            <img src="./assets/img/splsh_three.png" alt="">
        
            <!-- bootstrap 分为12列，单元格占用多少列，通过size属性设置，如果平分就不需要写了 -->
            <ion-grid class="fixed-bottom">
                <ion-row>
                    <ion-col>
                        <ion-button color="primary" fill="outline" expand="block" routerLink="/passport/login">登录</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="primary" fill="outline" expand="block" routerLink="/passport/signup">注册</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-slide>
    </ion-slides>

</ion-content>