// app-welcome {
//     ion-toolbar {
//         --background: transparent; //--: ionic 
//         --border-color: transparent;
//     }
//     .fixed-bottom {  //成员运算符： 类选择器
//         // height: 100%;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         z-index: 10;
//     }
// }


ion-toolbar { // 组件
    --background: transparent; //--: ionic 
    --border-color: transparent;
}

.fixed-bottom {  // 成员运算符： 类选择器
    // height: 100%;
    position: absolute; //absolute参照父容器
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}