app-welcome {
    ion-toolbar {
        --background: transparent;
        --border-color: transparent;
    }
    .fixed-bottom {
        // height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}