<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      首页
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center>
    <img src="assets\img\androidbanner.png" alt="首页图片">
  </div>

  <ion-grid class="grid">
    <ion-row>
      <ion-col *ngFor="let s of sales">
        <h6>{{s.title}}</h6>
        <h4><span>{{s.current | number:'1.2-2'}}元</span></h4>
        <p>
          {{s.content}}<br>
          <span [ngClass]="{'less-equal':s.current - s.previous < 0, 'greater':s.current - s.previous > 0}">
            {{s.current - s.previous | number:'1.2-2'}}
          </span>&nbsp;
          <ng-conainer [ngSwitch]="minus(s.current, s.previous)">
            <ion-icon name="arrow-up-outline" color='danger' *ngSwitchCase="1"></ion-icon>
            <ion-icon name="arrow-down-outline" color='success' *ngSwitchCase="-1"></ion-icon>
          </ng-conainer>
        </p>
      </ion-col>
    </ion-row>

    <ion-row  class="quick-actions" *ngFor="let a of shortcuts">
        <ion-col class="quick-action-item" *ngFor="let aa of a">
          <a class="shortcut" routerLink={{aa.url}} *ngIf="!aa.disable">
            <img class="index_quickaction" src="assets/img/{{aa.icon}}.png" alt="">
            <div>{{aa.text}}</div>
          </a>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>